<header class="header">
    <div class="header__text-box">
        <h1 class="heading-primary">Grocery List</h1>
    </div>
</header>

<main>
    <section class="section-list">
        {{#each groceries}}
            <div class="card">
                <div class="card__col card__col--category u-center-text">
                    <img src={{image}} class="card__image" alt={{category}}>
                </div>

                <div class="card__col card__col--details u-left-text">
                    <p class="card__text card__text--large">{{item}}</p>
                    <p class="card__text card__text--medium">{{brand}} - {{type}}</p>
                </div>

                <div class="card__col card__col--qty u-center-text">
                    <p class="card__text card__text--medium u-bold-text u-margin-bottom-tiny u-primary-color-text">Qty</p>
                    <p class="card__text card__text--small u-italic-text">{{qty}}</p>
                </div>
            </div>
        {{/each}}
    </section>
</main>